// ############ Deckbuilder ############ //
.setup__container
    display: flex
    flex-direction: column

.setup__container--buttons
    display: flex
    justify-content: space-around
    align-items: flex-start

.filter__container

.deck__container
    display: grid
    grid-template-columns: repeat(5, 1fr)
    grid-gap: 5px
    gap: 5px
    padding: 5px

.deck 
    display: flex
    flex-wrap: wrap
    justify-content: space-around

.chart__card_count
    font-size: 1.4em
    text-transform: capitalize
    background: radial-gradient($lightReaction, $darkReaction)
    border: 2px solid $darkReaction
    line-height: 1.8
    text-align: center
    justify-content: flex-end