@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase')

$white: #d8dccd
$black: #00080b
$lightGray: #99aaa4
$gray: #444
$gold: #b49e39
$brown: #634930
$lightTan: #9a8362
$darkBrown:#221815
$lightBlue: #9bbcf5
$darkBlue: #293b71
$lightGreen: #c1dabb
$darkGreen: #395c41
$red: #ca393e


@mixin shadow($x, $y, $blur, $spread, $color) 
    -moz-box-shadow:    $x $y $blur $spread $color
    -webkit-box-shadow: $x $y $blur $spread $color
    box-shadow:         $x $y $blur $spread $color


.shadow 
    -moz-box-shadow:    0 1px 3px 1px $black
    -webkit-box-shadow: 0 1px 3px 1px $black
    box-shadow:         0 1px 3px 1px $black

.inner-shadow
   -moz-box-shadow:    inset 0 0 10px #222
   -webkit-box-shadow: inset 0 0 10px #222
   box-shadow:         inset 0 0 10px #222    

.one-edge-shadow 
    -webkit-box-shadow: 0 8px 6px -6px $black
    -moz-box-shadow: 0 8px 6px -6px $black
    box-shadow: 0 8px 6px -6px $black

.wood_border
    border-left: 3px solid $darkBrown
    border-right: 3px solid $darkBrown

.btn
    @extend .shadow
    border-radius: 4px
    cursor: pointer

body 
    margin: 0
    padding: 0
    font-family: Georgia, serif
    box-sizing: border-box
    background: linear-gradient($black, $darkBlue, $lightBlue)

header, footer 
  background: #ccc
  padding: 5%

.display_font
    font-family: 'Cormorant Unicase', serif
    text-transform: uppercase

.app
    max-width: 980px
    margin: auto

.border
    border: 1px solid black

// ####### Set Selector & Chart ####### //
.set__container
    display: flex
    margin-top: 30px

.box__selector
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    flex-basis: 50%

.btn_create_deck
    @extend .inner-shadow
    @extend .display_font
    width: 60%
    height: 60px
    margin-top: 20px
    font-size: 2.2em
    background-color: $darkGreen
    color: $white
    border: 2px solid $darkGreen

.box__container
    @extend .inner-shadow
    background: radial-gradient($gray, $black)
    color: $white
    height: 20%
    width: 90%
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer

.box__container-selected
    @extend .box__container
    background: radial-gradient($lightTan, $brown, $darkBrown)
    color: $white

.box__text
    @extend .display_font
    font-size: 1.5em
    margin: 0

.chart__container 
    flex-basis: 50%

// ############ Deckbuilder ############ //
.filter__container
    @extend .border
    min-height: 500px

.deck__container
    //@extend .border
    display: grid
    grid-template-columns: repeat(5, 1fr)
    grid-gap: 5px
    gap: 5px
    padding: 5px

.deck 
    display: flex
    flex-wrap: wrap
    justify-content: space-around

.card 
    border: 10px solid $black
    border-radius: 8px
    text-align: center
    background-color: $lightGray
    display: flex
    flex-direction: column

.card__name
    @extend .display_font
    background-color: $white
    font-size: .9em
    padding: 1%
    margin: 0

.card__icon
    @extend .wood_border
    background-color: $black
    color: $white
    height: 100px

.card__divider
    @extend .shadow
    @extend .wood_border
    height: 1px
    width: 97%

.card__text_container
    height: 110px
    @extend .wood_border

.card__text
    font-family: 'Times New Roman', Times, serif
    font-size: .7em
    padding: 4% 2%
    margin: 0

.card__bottom_banner
    height: 22px
    position: relative
    align-self: flex-end
    width: 100%
    overflow: visible

.card__type
    @extend .display_font
    background-color: $white
    text-align: center
    font-size: .8em
    line-height: 1.7
    margin: 0

.card__cost
    @extend .one-edge-shadow
    background-color: $gold
    width: 22px
    height: 22px
    font-size: 1.1em
    line-height: 1
    border-radius: 50%
    position: absolute
    bottom: 0
    left: 0