.btn // all buttons
    @extend .shadow
    border-radius: 4px
    cursor: pointer

.btn__create_deck // create deck
    @extend .inner-shadow
    @extend .display_font
    width: 30%
    height: 60px
    font-size: 2.2em
    background-color: $darkGreen
    color: $white
    border: 2px solid $darkGreen
    justify-self: flex-start

.btn__toggle_filters // hide/show filters
    font-family: 'Times New Roman', Times, serif
    text-transform: uppercase
    font-size: 1.1em
    line-height: 1.7em
    @extend .btn
    background: radial-gradient($lightNight, $darkNight)
    color: $white
    border: 1px solid $black