body {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
}

header, footer { 
  background: #ccc;
  padding: 5%;
}

/* Library */
table {
  max-width: 80%;
  margin: auto;
}

/* Boxes */

.box-container {
    width: 40%;
    margin: auto;
}
.boxes { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height: 200px;
}
.box {
    height: 25%;
    border: 1px solid black;
    text-align: center;
}
.deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}
.card {
    border: 1px solid black;
    width: 250px;
}

.card-abilities {
    list-style-type: none;
    padding-left: 0;
}